$red: #f00;
$blue: #0066ff;
$blue-2: #2fa2f7;
$green: #32fd45;
$yellow: #fdbe32;

$white: #fff;

$grey1: #cccccc;
$grey2: #bebebe;
$grey3: #8e8e8e;
$grey4: #454545;
$grey5: #2e2e2e;
$grey6: #171717;

$black: #000;
