<na-general-modal modal-type="terms" ref="getTermsModalInstance" toggle-callback="toggleCallback">
	<general-modal-title>{{'terms.mainTitle'|translate}}</general-modal-title>
	<general-modal-content>
		<div markdown-to-html="'terms.mkdown'|translate"></div>
	</general-modal-content>
</na-general-modal>

<div class="na-bg" ng-class="{'is-active':exibirLogin}">
	<div class="na-login">
		<div class="na-loginClose na-link" ng-click="exibirLogin=false">Fechar</div>
		<div class="na-loginLogo"><img src="assets/img/icons/logotipo_simbolo_horizontal_cor-01.svg" alt="" /></div>

		<div ng-show="!usuarioLogado.logado">
			<div class="na-title">Entre para ter acesso às suas rotas recentes e configurações.</div><br>
			<div class="na-title">Você pode utilizar sua conta antiga do Planodevoo.net.</div><br>

			<form id="dadosLogin" name="FormLogin" novalidate>
				<input class="na-input" ng-class="[{'is-error':FormLogin.email.$invalid && FormLogin.email.$dirty}]" ng-required="true" type="email" name="email" ng-model="dadosLogin.email" placeholder="E-mail" ng-change="resultadoLogin=''" ng-keypress="resultadoLogin=''" /><br />
				<input class="na-input" ng-class="[{'is-error':FormLogin.password.$invalid && FormLogin.password.$dirty}]" ng-required="true" type="password" name="password" ng-model="dadosLogin.senha" placeholder="Senha" ng-change="resultadoLogin=''" ng-keypress="resultadoLogin=''" /><br />

				<div class="na-loginControl is-end">
					<div class="na-checkbox">
						<input id="connect" type="checkbox" ng-model="dadosLogin.manterConectado" />
						<label class="na-title" for="connect">
							Mantenha-me conectado
							<span>
								<svg height="18px" width="18px">
									<path d="M 4 10 l 3 3" stroke-width="1" fill="none"></path>
									<path d="M 7 13 l 8 -8" stroke-width="1" fill="none"></path>
								</svg>
							</span>
						</label>
					</div>
				</div>

				<br />
				<div class="na-title" ng-show="resultadoLogin">{{resultadoLogin}}</div>
				<br />

				<div class="na-loginControl">
					<button class="na-button" ng-click="login()">
						<div ng-show="!logando">Enviar</div>
						<div class="na-buttonLoading" ng-show="logando">
							<!-- Enviando -->
							<div class="na-loading">
								<div class="sk-three-bounce">
									<div class="sk-child sk-bounce1"></div><div class="sk-child sk-bounce2"></div><div class="sk-child sk-bounce3"></div>
								</div>
							</div>
						</div>
					</button>
				</div>
			</form>
		</div>

		<div ng-show="usuarioLogado.logado">
			<div class="na-title">
				{{usuarioLogado.nome}},<br /> Seja bem-vindo! :-)
			</div>

			<br />

			<div class="na-buttonGroup is-centered">
				<button class="na-button" ng-click="exibirLogin=false">Continuar</button>
			</div>
		</div>
	</div>
</div>

<div id="mapaDiv"><!-- <div id="mapaDiv" ng-click="hidePanelAndTool()"--></div>

<div id="barraEsquerda" class="nexatlasMenu">
	<div id="barraEsquerdaBotoesHam">
		<div id="hamburguer" class="na-icon" title="Menu" ng-click="toggleDescriptionMenu();">
			<img src="assets/img/icons/barra/Hamburguer.svg">
			<div class="na-logo"><img src="assets/img/icons/logotipo_horizontal_cor-01.svg" alt=""></div>
		</div>
	</div>
	<div id="barraEsquerdaBotoesSup">
		<div id="menuMapa" class="na-icon" ng-class="{'is-active':panel=='map'}" ng-click="goToPanel('map')" title="Mapa">
			<img src="assets/img/icons/barra/Mapa.svg">
			<p>{{'descriptionMenu.maps'|translate}}</p>
		</div>
		<div id="menuPesquisa" class="na-icon" ng-class="{'is-active':panel=='search'}" ng-click="toggleSearch();" title="Pesquisar">
			<img src="assets/img/icons/barra/Pesquisar.svg">
			<p>{{'descriptionMenu.search'|translate}}</p>
		</div>
		<div id="menuRota" class="na-icon" ng-class="{'is-active':panel=='routes'}" ng-click="goToPanel('routes')" title="Planejar rota">
			<img src="assets/img/icons/barra/Rota.svg">
			<p>{{'descriptionMenu.routePlanning'|translate}}</p>
		</div>
		<div id="menuRotas" class="na-icon" ng-class="{'is-active':panel=='recent'}" ng-click="goToPanel('recent')" title="Rotas recentes">
			<img src="assets/img/icons/barra/Recentes.svg">
			<p>{{'descriptionMenu.recentRoutes'|translate}}</p>
		</div>
	</div>
	<div id="barraEsquerdaBotoesInf">
		<div class="na-icon" ng-class="{'is-active':panel=='account'}" ng-click="exibirLogin=true" ng-hide="usuarioLogado.logado" title="Entrar">
			<img src="assets/img/icons/barra/Entrar.svg">
			<p>Entrar</p>
		</div>

		<div id="menuMsg" class="na-icon" ng-class="{'is-active':panel=='contact'}" ng-click="goToPanel('contact')" title="Fale conosco">
			<img src="assets/img/icons/barra/Comentarios2.svg">
			<p>{{'descriptionMenu.contact'|translate}}</p>
		</div>
		<div id="menuConfig" class="na-icon" ng-class="{'is-active':panel=='settings'}" ng-click="goToPanel('settings')" title="Configurações e ajuda">
			<img src="assets/img/icons/barra/Configuracoes.svg">
			<p>{{'descriptionMenu.configuration'|translate}}</p>
		</div>
		<div id="menuConta" class="na-icon profile" ng-class="{'is-active':panel=='account'}" ng-click="goToPanel('account')" ng-show="usuarioLogado.logado" title="Sua conta">
			<div class="image-wrapper">
				<img ng-src="{{userProfile.picture}}" ng-show="userProfile.picture != null && userProfile.picture != undefined && userProfile.picture != ''" ng-class="{'show': userProfile.picture != null && userProfile.picture != undefined && userProfile.picture != '' ? true : false}">
				<na-svg name="icons/user-no-picture" ng-hide="userProfile.picture != null && userProfile.picture != undefined  && userProfile.picture != ''" ng-class="{'show': userProfile.picture != null && userProfile.picture != undefined && userProfile.picture != '' ? false : true}">
			</div>
			<div class="sub-icon"></div>
			<p>{{'descriptionMenu.profile'|translate}}</p>
		</div>
	</div>
</div>

<div id="barraPesquisa" class="na-searchInput" ng-class="{'is-active':panel=='search'}">
	<div class="na-field is-search">
		<input id="pesquisa" class="na-input na-input--search" type="text" placeholder="Pesquisar" ng-model="searchText"
		ng-change="search(1)"
		ng-model-options="{debounce: 500}"
		ng-class="{'is-disabled': !searchText}"
		ng-click="panel='search'"
		ng-focus="">

		<div class="na-field-icon na-field-search" ng-show="!searchText">
			<img src="assets/img/icons/barra/Pesquisar-cinza.svg" class="svg">
		</div>

		<div class="na-field-icon" ng-show="searchText" ng-click="clearSearch(true)">
			<img src="assets/img/icons/barra/Apagar2.svg" class="svg">
		</div>
	</div>
</div>

<div id="painelEsquerda" class="na-panel nexatlasMenu" ng-class="{'is-active':panel!='map'}">
	<div id="menuPesquisa-tab" ng-show="panel=='search'">
		<!-- <div><h1 class="na-bigtitle">Pesquisar</h1></div> -->

		<div>
			<!-- <div class="na-field is-button">
			  <input class="na-input" type="text" placeholder="Inserir partida" id="pesquisa" ng-model="searchText" ng-change="search(1)" ng-model-options="{debounce: 500}" ng-class="{'is-disabled': !searchText}">
			  <button class="na-fieldButton" ng-show="!searchRunning" ng-click="clearSearch()">
				<img src="assets/img/icons/barra/Apagar.svg" class="svg">
			  </button>
			</div> -->
			<!-- <div class="na-loading" ng-show="searchRunning">
			  <div class="sk-three-bounce">
				<div class="sk-child sk-bounce1"></div>
				<div class="sk-child sk-bounce2"></div>
				<div class="sk-child sk-bounce3"></div>
			  </div>
			</div> -->

			<div class="dots animate" ng-show="searchRunning">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>


			<!-- Block: Resultado da pesquisa -->
			<div class="na-search" ng-repeat="point in searchResult.features" ng-click="">
				<div class="na-searchSection is-icon"><img ng-if="point && point.properties" ng-src="{{point.properties.waypoint_type_icon}}"></div>
				<div class="na-searchSection is-info">
					<div class="na-title">{{point.properties.cardTitle}}</div>
					<div class="na-title">{{point.properties.title2}}</div>
					<div>
						<a class="na-subtitle na-link is-primary" style="margin-right: 20px;" href="" ng-click="framePoint(point);">Localizar</a>
						<a class="na-subtitle na-link is-primary" href="" ng-click="insertRouteWaypoint($index);">Adicionar à rota</a>
					</div>
				</div>
				<!-- TagEnd: .na-searchSection.is-info -->
			</div>
			<!-- BlockEnd: Resultado da pesquisa -->

			<div ng-show="searchMessage" style="padding: 0 20px;">{{searchMessage}}</div>
		</div>
	</div>

	<div id="menuRota-tab" class="routes-planning-left-menu" ng-show="panel=='routes'">
		<div class="header">
			<div class="line">
				<div class="title">Planejar Rota</div>
				<!-- <a class="na-clearButton" href="" ng-show="route.points.features.length>0" ng-click="limparRota()">Limpar tudo</a> -->
				<a class="na-link action" href="" ng-show="route.points.features.length>0" ng-click="limparRota()">Limpar tudo</a>
			</div>
			<div class="line">
				<div class="action">
					<!-- <a class="na-link is-block" href="" ng-click="goToSearch()">{{route.points.features.length==0 ? 'Inserir partida' : route.points.features.length==1 ? 'Inserir destino' : 'Inserir pontos intermediários'}}</a> -->
					<a class="na-link" href="" ng-click="goToSearch()">{{route.points.features.length==0 ? 'Inserir partida' : route.points.features.length==1 ? 'Inserir destino' : 'Inserir pontos intermediários'}}</a>
				</div>
			</div>
		</div>
		<!-- <div>
		  <div style="width:24px; height: 24px" onclick="menuShow('Esquerda', 'menuPesquisa')">
			<img src="assets/img/icons/barra/Pesquisar.svg" class="svg">
		  </div>
		</div> -->

		<div class="na-field is-speed" ng-show="route.points.features.length>1">
			<span>{{'routePanel.groundSpeed'|translate}}: </span>
			<input class="na-input na-input--tiny u-ml10 u-text-center na-input-ground-speed"
			type="text"
			ng-model="ground_speed"
			ng-change="updateRouteTotal()"
			maxlength="3"
			placeholder="kt"
			ng-keypress="groundSpeedKeyPressHandler($event)"
			ng-focus="">
		</div>

		<div class="routes">
			<div id="idRoutesPlanning" ng-model="route.points.features" ng-if="route.points.features.length>0"
				 ui-sortable="sortableOptions">
				<div class="card" ng-repeat="point in route.points.features track by $index" ng-click="centrePoint(point);">
					<div class="route-info" ng-if="!$first">
						<span>{{bearingFromPrevious($index)}}</span>
						<span>{{distanceFromPrevious($index)}}</span>
						<span>{{estimateFromPrevious($index)}}</span>
					</div>
					<div class="waypoint">
						<div class="waypoint-icon"><img ng-if="point && point.properties" ng-src="{{point.properties.waypoint_type_icon}}"></div>
						<div class="waypoint-info">
							<div class="title" ng-if="$first">PARTIDA</div>
							<div class="title" ng-if="$last && route.points.features.length>1">DESTINO</div>
							<div class="waypoint-name"><span>{{point.properties.cardTitle}}</span></div>
							<div class="waypoint-type"><span>{{point.properties.title2}}</span></div>
						</div>

						<div class="waypoint-remove-icon" ng-style="shouldIUseAHandle() ? {opacity: 1} : null">
							<div ng-click="removeRouteWaypoint($index)"><img src="assets/img/icons/barra/Apagar.svg" class="svg"></div>
							<!-- <div ng-click="framePoint(point)"><img src="assets/img/icons/barra/Pesquisar.svg" class="svg"></div> -->
						</div>
						<div class="waypoint-move-icon route-card-handle" ng-show="shouldIUseAHandle()">
							<div><img src="assets/img/icons/barra/Hamburguer.svg" class="svg"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="empty-routes" ng-if="route.points.features.length===0"></div>
		</div>
		<div class="footer">
			<div class="total">
				Total
			</div>
			<div class="distance" ng-show="distanciaTotal!=0">
				{{distanciaTotal}} nm
			</div>
			<div class="distance" ng-hide="distanciaTotal!=0">
				--
			</div>
			<div class="time">
				{{tempoSoloTotal}}
			</div>
		</div>
	</div>

	<div id="menuRotas-tab" ng-show="panel=='recent'">
		<div>
			<h1 class="na-bigtitle">Rotas Recentes</h1>
		</div>

		<div class="na-container" ng-show="!usuarioLogado.logado">
			<div class="na-title">Você precisa entrar com sua conta para ver as rotas recentes.</div><br />

			<div class="na-buttonGroup">
				<button class="na-button" ng-click="exibirLogin=true">Entrar</button>
			</div>
		</div>

		<div ng-show="usuarioLogado.logado">
			<div class="na-loading" ng-show="loadingRecentRoutes">
				<div class="sk-three-bounce">
					<div class="sk-child sk-bounce1"></div>
					<div class="sk-child sk-bounce2"></div>
					<div class="sk-child sk-bounce3"></div>
				</div>
			</div>

			<div ng-show="recentRoutesMsg">{{recentRoutesMsg}}</div>

			<div class="na-search item-rota" ng-repeat="route in recentRoutes | orderBy:'-updated_on' track by $index">
				<div class="na-searchSection is-icon" ng-click="setFavourite(route);">
					<img src="assets/img/icons/barra/Estrela.svg" ng-if="!route.favourite">
					<img src="assets/img/icons/barra/Estrela marcada.svg" ng-if="route.favourite"><br />
					<div>{{calculateAge(route)}}</div>
				</div>
				<div class="na-searchSection is-info" ng-click="loadRoute($index);">
					<div class="na-title">{{route.cardTitle}}</div>
					<div class="na-subtitle" ng-if="route.points2.length>0">
						<span>Via:</span>
						<span ng-repeat="point in route.points2 track by $index" ng-class-odd="'pontoImpar'">
							{{point}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="menuConta-tab" ng-show="panel=='account'">
		<div>
			<h1 class="na-bigtitle">Sua Conta</h1>
		</div>

		<div class="na-container" ng-show="!usuarioLogado.logado">
			<button class="na-button" ng-click="exibirLogin=true">Logar</button>
		</div>

		<div class="na-container" ng-show="usuarioLogado.logado">
			<div class="na-buttonGroup is-right">
				<button class="na-button" ng-click="logout()">
					<div ng-show="!deslogando">Sair</div>
					<div class="na-buttonLoading" ng-show="deslogando">
						<div class="na-loading">
							<div class="sk-three-bounce">
								<div class="sk-child sk-bounce1"></div>
								<div class="sk-child sk-bounce2"></div>
								<div class="sk-child sk-bounce3"></div>
							</div>
						</div>
					</div>
				</button>
			</div>
		</div>

		<!--
		<div class="na-container" ng-show="usuarioLogado.logado">
		  <div class="na-formMsg" ng-click="exibirAtualizarCadastro=!exibirAtualizarCadastro; exibirAlterarSenha=exibirAtualizarCadastro?false:exibirAlterarSenha">
			<h2 class="na-link">Atualizar cadastro</h2>
		  </div>
		  <div class="na-formMsg" ng-click="exibirAlterarSenha=!exibirAlterarSenha; exibirAtualizarCadastro=exibirAlterarSenha?false:exibirAtualizarCadastro">
			<h2 class="na-link">Alterar Senha</h2>
		  </div>
		</div>

		<form class="na-form" ng-show="exibirAtualizarCadastro">
		  <div>
			<label class="na-label" for="">Primeiro nome</label>
			<input class="na-input" type="text" name="nome" ng-model="usuarioLogado.nome"><br/>
			<label class="na-label" for="">Sobrenome</label>
			<input class="na-input" type="text" name="sobrenome" ng-model="usuarioLogado.sobrenome"><br/>
			<label class="na-label" for="">E-mail</label>
			<input class="na-input" type="email" name="email" ng-model="usuarioLogado.email"><br/>
			<div class="na-buttonGroup is-right">
			  <button class="na-button">Enviar</button>
			</div>
		  </div>
		</form>

		<form class="na-form" ng-show="exibirAlterarSenha">
		  <div>
			<label class="na-label" for="">Senha atual</label>
			<input class="na-input" type="password" name="nome"><br/>
			<label class="na-label" for="">Nova senha</label>
			<input class="na-input" type="password" name="sobrenome"><br/>
			<label class="na-label" for="">Repetir nova senha</label>
			<input class="na-input" type="password" name="email"><br/>
			<div class="na-buttonGroup is-right">
			  <button class="na-button">Enviar</button>
			</div>
		  </div>
		</form>
		 -->
	</div>

	<div id="menuMsg-tab" ng-show="panel=='contact'">
		<na-contact-form ref="getContactFormRef"/>
	</div>

	<div id="menuConfig-tab" ng-show="panel=='settings'">
		<div>
			<h1 class="na-bigtitle">Configurações e ajuda</h1>
		</div>


		<div class="na-configArea">
			<h2 class="na-title">Dados e mapas</h2>
			<div class="na-subtitle">Todos os dados atualizados até: <span class="na-highlight is-success">17 AGO 2017</span></div>
			<div class="na-subtitle">Ciclo AIRAC: 1708</div>
		</div>

		<div class="na-configArea">
			<h2 class="na-title">Ajuda</h2>
			<ul class="na-list">
				<li><a class="na-link" href="" ng-click="goToPanel('contact')">Fale conosco</a></li>
				<li><a class="na-link" href="" ng-click='termsToggleModal()'>{{'terms.readTermsFullLabel'|translate}}</a></li>
			</ul>
		</div>

		<div class="na-configArea">
			<h2 class="na-title">Sobre este aplicativo</h2>
			<div class="na-subtitle">NexAtlas WebApp <span style="color: yellow">beta</span></div>
			<div class="na-subtitle">&copy; 2017 NexAtlas</div>

			<!--<ul class="na-list">
			  <li><a class="na-link" href="" ng-click="exibirTermos=true">Termos de uso</a></li>
			</ul>-->

		</div>

		<!-- <div>
		  <div>Sistema atualizado at&#xE9;: 01/jun/16</div>

		  <div>Ajuda</div>
		  <div><a href="">Perguntas frequentes (FAQ)</a></div>
		  <div><a href="">V&#xED;deo demonstrativo</a></div>
		  <div><a href="">Termos de uso</a></div>

		  <div>Sobre o NexAtlas</div>
		  <div><a href="">Financiamento coletivo 2016</a></div>
		  <div><a href="">A empresa</a></div>
		  </div> -->
	</div>
</div>

<div id="barraDireita">
	<div id="barraDireitaBotoesSup">
		<div id="menuCamadas" title="Escolher exibição de mapa" ng-click="goToTool('layer')" ng-class="{'is-active':tool=='layer'}">
			<img src="assets/img/icons/barra/Camadas2.svg">
		</div>
	</div>
	<div id="barraDireitaBotoesInf">
		<div ng-click="ativaDesativaCamada('sat', 'nexatlas-sat');" ng-class="{'camadaAtiva': isCamadaAtiva('sat', 'nexatlas-sat')}" id="menuMeteorologia" title="Meteorologia">
			<img src="assets/img/icons/barra/Meteorologia.svg">
		</div>
		<div id="botaoRegua" ng-click="startStopModoRegua();" title="Régua">
			<img src="assets/img/icons/barra/Regua2.svg">
		</div>
		<div ng-click="enquadrarRota();" title="Ajustar">
			<img src="assets/img/icons/barra/Ajustar.svg">
		</div>
		<div ng-click="zoomIn()" title="Ampliar">
			<img src="assets/img/icons/barra/Mais.svg">
		</div>
		<div ng-click="zoomOut()" title="Reduzir">
			<img src="assets/img/icons/barra/Menos.svg">
		</div>
	</div>
</div>

<div id="painelDireita" class="na-panel nexatlasMenu" ng-class="{'is-active':tool=='layer'}">
	<div>
		<div id="menuCamadas-tab">
			<div class="padding-left: 10px;">
				<h1 class="na-title" style="padding: 0 0 10px 10px;">CARTAS AERONÁUTICAS</h1>
			</div>

			<div class="camada" ng-click="ativaDesativaCamada('re', 'nexatlas-rea')">
				<div class="na-checkbox is-warn">
					<input type="checkbox" ng-checked="isCamadaAtiva('re', 'nexatlas-rea')">
					<label class="na-title" for="connect">
						REA
						<span>
							<svg height="18px" width="18px">
								<path d="M 4 10 l 3 3" stroke-width="1" fill="none" /></path>
								<path d="M 7 13 l 8 -8" stroke-width="1" fill="none" /></path>
							</svg>
						</span>
					</label>
				</div>
			</div>
			<div class="camada" ng-click="ativaDesativaCamada('re', 'nexatlas-reh')">
				<div class="na-checkbox is-warn">
					<input type="checkbox" ng-checked="isCamadaAtiva('re', 'nexatlas-reh')">
					<label class="na-title" for="connect">
						REH
						<span>
							<svg height="18px" width="18px">
								<path d="M 4 10 l 3 3" stroke-width="1" fill="none" /></path>
								<path d="M 7 13 l 8 -8" stroke-width="1" fill="none" /></path>
							</svg>
						</span>
					</label>
				</div>
			</div>

			<br>

			<div class="camada" ng-click="ativaDesativaCamada('baseAer', 'nexatlas-wac')">
				<div class="na-checkbox is-warn">
					<input type="checkbox" ng-checked="isCamadaAtiva('baseAer', 'nexatlas-wac')">
					<label class="na-title" for="connect">
						WAC
						<span>
							<svg height="18px" width="18px">
								<path d="M 4 10 l 3 3" stroke-width="1" fill="none" /></path>
								<path d="M 7 13 l 8 -8" stroke-width="1" fill="none" /></path>
							</svg>
						</span>
					</label>
				</div>
			</div>
			<div class="camada" ng-click="ativaDesativaCamada('baseAer', 'nexatlas-erch')">
				<div class="na-checkbox is-warn">
					<input type="checkbox" ng-checked="isCamadaAtiva('baseAer', 'nexatlas-erch')">
					<label class="na-title" for="connect">
						ENRC High
						<span>
							<svg height="18px" width="18px">
								<path d="M 4 10 l 3 3" stroke-width="1" fill="none" /></path>
								<path d="M 7 13 l 8 -8" stroke-width="1" fill="none" /></path>
							</svg>
						</span>
					</label>
				</div>
			</div>
			<div class="camada" ng-click="ativaDesativaCamada('baseAer', 'nexatlas-ercl')">
				<div class="na-checkbox is-warn">
					<input type="checkbox" ng-checked="isCamadaAtiva('baseAer', 'nexatlas-ercl')">
					<label class="na-title" for="connect">
						ENRC Low
						<span>
							<svg height="18px" width="18px">
								<path d="M 4 10 l 3 3" stroke-width="1" fill="none" /></path>
								<path d="M 7 13 l 8 -8" stroke-width="1" fill="none" /></path>
							</svg>
						</span>
					</label>
				</div>
			</div>

			<div class="na-divider"></div>

			<div>
				<h1 class="na-title" style="padding: 0 0 10px 10px;">MAPA BASE</h1>
			</div>

			<div class="camada" ng-click="ativaCamada('base', 'mapa')">
				<div class="na-radio is-warn">
					<input type="checkbox" ng-checked="isCamadaAtiva('base', 'mapa')">
					<label class="na-title" for="connect">
						Rodoviário<span></span>
					</label>
				</div>
			</div>
			<div class="camada" ng-click="ativaCamada('base', 'mapbox-satellite')">
				<div class="na-radio is-warn">
					<input type="checkbox" ng-checked="isCamadaAtiva('base', 'mapbox-satellite')">
					<label class="na-title" for="connect">
						Vista aérea<span></span>
					</label>
				</div>
			</div>
		</div>

		<!--
		<div id="menuMeteorologia-tab" style="display: none">
		  <div class="camada" ng-class="{camadaAtiva: isCamadaAtiva('sat', 'nexatlas-sat')}" ng-click="ativaDesativaCamada('sat', 'nexatlas-sat')">Satélite</div>
		  <hr/>
		  <div class="camada">
			SIGWX
			<select ng-model="metAltitude.sigwx" disabled="disabled">
			  <option value="sfc">Superfície</option>
			  <option value="fl250">FL250</option>
			</select>
		  </div>
		  <hr/>
		  <div class="camada">
			Ventos
			<select ng-model="metAltitude.ventos" disabled="disabled">
			  <option value="fl050">FL050</option>
			  <option value="fl100">FL100</option>
			  <option value="fl180">FL180</option>
			  <option value="fl240">FL240</option>
			  <option value="fl300">FL300</option>
			  <option value="fl340">FL340</option>
			  <option value="fl390">FL390</option>
			  <option value="fl450">FL450</option>
			  <option value="fl630">FL630</option>
			</select>
		  </div>
		</div>
		-->
	</div>
</div>

<div id="controleLR">
	<div style="font-size: 10px; width: 23em; background-color: #fff; opacity: 0.75" ng-show="isCamadaAtiva('sat', 'nexatlas-sat')">
		<na-svg name="subtitle/legenda-01" />
	</div>

	<!--
	<div style="background-color: #ddd; text-align: right">{{mapInfo}}</div>
	-->
</div>
