﻿
<form name="formEvent">
	<h3>{{service.nome}}</h3>
	<h5>
		{{'labels.price'| translate}}
		{{service.valor|currency}}
	</h5>
	<br />

	<form-input type="date" label="{{ 'labels.startDate' |translate}}" ng-model="data_inicio"></form-input>

	<br />

	<h5 class="row">
		<i class="icon material-icons info-icon col cols-size-1">home</i>
		<span class="col font-size-2 cols-size-9">{{ 'messages.selectProfessionalOption' |translate}}</span>
	</h5>

	<simple-list>
		<simple-list-item ng-repeat="employee in employees"
						  type="full-description"
						  title="{{::employee.funcionario.nome}} {{::employee.funcionario.nome}}"
						  avatar="{{::employee.funcionario.foto_perfil||'img/no-avatar.png'}}"
						  selectable="true"
						  selectable-type="single-select"
						  selected="employee.selected"
						  list="employees"></simple-list-item>
	</simple-list>

</form>