<div class="form">
	<div class="form-header">
		<div class="title">{{'register.formHeaderTitle'|translate}}</div>
		<div class="subtitle">{{'register.formHeaderSubtitle'|translate}} <a class="highlight" href="{{routes.register}}">{{'register.formHeaderSubtitleHighlight'|translate}}</a></div>
	</div>
	<div class="social-buttons">
		<div class="title">{{'register.socialButtonsTitle'|translate}}</div>
		<oauth-facebook ng-model="loginForm"></oauth-facebook>
		<oauth-google ng-model="loginForm"></oauth-google>
	</div>
	<ul class="errors-list">
		<li ng-repeat="error in errors">{{error}}</li>
	</ul>
	<form ng-submit="registerFormSubmit()">
		<div class="title">{{'register.formTitle'|translate}}</div>
		<div class="field">
			<input id="registerFormEmail" type="email" ng-model="registerForm.email" ng-value="registerForm.email" placeholder="{{'register.registerFormEmailFieldPlaceholder'|translate}}" required />
		</div>
		<div class="field">
			<input id="registerFormEmailConfirmation" type="email" ng-model="registerForm.emailConfirmation" ng-value="registerForm.emailConfirmation" placeholder="{{'register.registerFormEmailConfirmationFieldPlaceholder'|translate}}" required />
		</div>
		<div class="field">
			<input id="registerFormPassword" type="password" ng-model="registerForm.password" placeholder="{{'register.registerFormPasswordFieldPlaceholder'|translate}}" minlength="4" maxlength="16" required />
		</div>
		<div class="actions">
			<div class="nex-checkbox">
				<input id="idregisterFormRememberMe" type="checkbox" ng-model="registerForm.readTerms">
				<label for="idregisterFormRememberMe"></label>
				<na-terms-modal previous-text="{{'terms.readTermsLabel'|translate}}" link-text="{{'terms.termsOfUseLabel'|translate}} {{'terms.and'|translate}} {{'terms.privacyPolicyLabel'|translate}}" link-class="highlight"/>
			</div>
		</div>
		<div class="submit-button">
			<input type="submit" value="{{'register.submitregisterForm'|translate}}" />
		</div>
	</form>
</div>
