<div class="redefine-password">
	<div class="bg-img">
		<na-svg name="backgrounds/grafismo_rota-01" />
	</div>
	<div class="header">
		<div class="logo">
			<na-svg name="icons/logotipo_simbolo_horizontal_cor-01" />
		</div>
	</div>
	<user-redefine-password-form password-request-token="passwordRequest.token"></user-redefine-password-form>
</div>
