/*========================================================*/
/* BarIcon */
/*========================================================*/
.na-icon {
	height: 48px;
	font-size: 15px;
	line-height: 48px;
	min-width: 48px;
	min-height: 48px;
	width: 100%;
	user-select: none;

	&.is-active {
		background-color: $blue !important;
	}
}

.na-icon img,
.na-icon svg {
	width: 20px;
	height: 20px;
	margin: 14px;
	padding: 0;
	overflow: hidden;
	float: left;
}

.na-icon.is-small img,
.na-icon.is-small svg {
	width: 16px;
	height: 16px;
	margin: 16px;
}

.na-icon.profile {
	display: flex;
	justify-content: flex-start;
	position: relative;
	float: left;

	p {
		margin-left: 3.2em !important;
	}

	.image-wrapper {
		// width: 22px;
		// height: 22px;
		overflow: hidden;
		margin: 12px;
		border-radius: 50%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0.3em;
		position: absolute;

		img,
		svg {
			display: none;
			opacity: 0;
			margin: 0;
			width: auto;
			max-height: 100%;
			border-radius: 50%;
			overflow: hidden;
			height: 2.4em;
			width: 2.4em;

			.st0 {
				fill: #4F4F4F !important;
			}

			.st1 {
				fill: #A5A8AA !important;
			}

			.st2 {
				fill: none !important;
				stroke: #A5A8AA;
			}

			&.show {
				display: block;
				opacity: 1;
			}
		}
	}

	.sub-icon {
		position: absolute;
		bottom: 0.25em;
		left: 1.8em;
		height: 1em;
		width: 1em;
		border-radius: 50%;
		background-color: #4CAF50;
		border: 0.05em #292929 solid;

		.off {
			background-color: #f44336;
		}
	}
}
/*========================================================*/
/* formMsg */
/*========================================================*/
.na-formMsg .na-title {
	font-size: 23px;
	margin-bottom: 10px;
}

.na-formMsg .na-subtitle {
	color: #fff;
	font-size: 15px;
}

.na-logo {
	display: flex !important;
	height: 100%;
	align-items: center;
}

.na-logo img {
	margin: 0;
	width: auto;
	height: 14px;
}

.na-container {
	padding: 10px 20px;
}

.na-label {
	display: block;
	font-size: 12px;
	padding-bottom: 5px;
}

textarea {
	resize: vertical;
}

#sobreposicao {
	background-color: rgba(0, 0, 0, .85);
}
/*

  .na-blur {
    -webkit-filter: blur(5px);
    filter: blur(2px);
  } */
.na-divider {
	border-top: 1px solid #2e2e2e;
	margin: 20px 0;
	widows: 100%;
}

.pontoImpar {
	color: #bbb;
}

.na-bg {
	background-color: rgba(0, 0, 0, .85);
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 40;

	&.is-active {
		display: block;
	}
}

.na-panel {
	display: none;

	&.is-active {
		display: block;
	}
}

#menuCamadas.is-active {
	background-color: $blue !important;
}

body {
	background-color: #00B96D;
	overflow: auto;
}

.default-bg-img {
	.bg-img {
		position: absolute;
		z-index: -1;
		bottom: 0;
		right: 0;
		min-width: 100%;
	}
}

.black-button {
	a,
	button,
	input[type=submit] {
		text-transform: uppercase;
		height: 2.25em;
		line-height: 2.25em;
		width: 13em;
		background: #212121;
		font-size: 14px;
		color: #FFF;
		border: none;
		transition: all 250ms ease;
		vertical-align: middle;
		text-align: center;
		text-decoration: none;

		&:hover {
			background: darken(#00B96D, 14);
		}
	}

	a:active,
	a:visited {
		background: #212121;

		&:hover {
			background: darken(#00B96D, 14);
		}
	}
}

.loading {
	font-family: 'Montserrat light', 'Roboto', sans-serif;
	font-size: 10px;
	height: 100vh;
	width: 80%;
	margin: auto;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.loading {
		font-size: 3em;
		font-weight: 600;
	}
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;

	.loading-svg-wrapper {
		height: 5em;
		width: 5em;
		@keyframes hideshow {
			0% {
				opacity: 0;
			}

			15% {
				opacity: 1;
			}

			50% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}

		svg {
			.st0 {
				fill: #1E262A;
			}

			.st1 {
				fill: #00B96D;
			}

			.st2 {
				fill: #1A1A1A;
			}

			.st3 {
				fill: none;
				stroke: #40CB92;
				stroke-miterlimit: 10;
			}

			.st4 {
				fill: #40CB92;
			}

			.st5 {
				fill: #FFFFFF;
				stroke: none;
			}

			.st7 {
				display: inline;
			}

			#animation-wheel {
				fill: #FFF;

				path {
					opacity: 0;
					animation: hideshow 3s ease infinite;
				}
				@for $i from 1 through 13 {
					.item-#{$i} {
						animation-delay: 0.1s * $i;
					}
				}
			}
		}
	}
}

.lost-password-action {
	@extend .nex-checkbox;

	a {
		color: #000;
		text-decoration: underline;
	}
}

a.mapboxgl-ctrl-logo {
	opacity: 0 !important;
	display: none !important;
}

img, svg {
	user-select: none;
}
