html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#mapaDiv {
  position: absolute;
  left: 48px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: #eee;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#controleLR {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 19;
}

#barraEsquerda {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 48px;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: $tool-bar-left-background;
  z-index: 35;
}
#barraDireita {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 36px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateY(-50%);
  z-index: 22;
}
#barraEsquerda > div, #barraDireita > div {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}
#barraEsquerdaBotoesHam {
  min-height: 48px;
}
// #barraEsquerdaBotoesSup {
//   min-height: 240px;
// }
#barraEsquerdaBotoesInf {
  min-height: 144px;
}
@media (min-height: 384px) {
  #barraEsquerdaBotoesInf {
    position: absolute;
    bottom: 0;
  }
}
/* #barraEsquerdaBotoesHam > div, #barraEsquerdaBotoesSup > div, #barraEsquerdaBotoesInf > div, #barraDireitaBotoesSup > div, #barraDireitaBotoesInf > div {
  width: 100%;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: all .2s;
} */
#barraDireitaBotoesSup > div, #barraDireitaBotoesInf > div {
  box-sizing: border-box;
  height: 46px;
  min-height: 46px;
  min-width: auto;
  padding: 13px 8px;
  width: 100%;
}
#barraEsquerdaBotoesHam > div:hover, #barraEsquerdaBotoesSup > div:hover, #barraEsquerdaBotoesInf > div:hover {
  background-color: #2e2e2e;
}
#barraEsquerdaBotoesHam > div:active, #barraEsquerdaBotoesSup > div:active, #barraEsquerdaBotoesInf > div:active {
  background-color: #454545;
}
#barraDireitaBotoesSup > div,
#barraDireitaBotoesInf > div {
  background-color: $tool-bar-right-background;
  // opacity: 0.5;
}
#barraDireitaBotoesSup > div.is-active,
#barraDireitaBotoesInf > div.is-active {
  background-color: $tool-bar-right-background-active;
  // opacity: 1;
}
#barraDireitaBotoesSup > div.is-active:hover,
#barraDireitaBotoesInf > div.is-active:hover {
  background-color: $tool-bar-right-background-active-hover;
}
#barraDireitaBotoesSup > div:hover, #barraDireitaBotoesInf > div:hover {
  background-color: $tool-bar-right-background-hover;
  // opacity: .8;
}
/* #barraEsquerda svg, #barraDireita svg {
  width: 20px;
  height: 20px;
  margin: 14px;
  padding: 0;
  overflow: hidden;
  float: left;
} */
#barraDireita svg {
  margin: 0;
}
#barraEsquerda svg path, #barraDireita svg path {
  fill: white;
}
#barraEsquerda p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #fff;
  display: none;
}
#painelEsquerda {
  position: absolute;
  left: 48px;
  top: 0;
  height: 100%;
  width: calc(100% - 48px);
  max-width: 360px;
  color: #fff;
  background-color: $panel-left-background;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 23;
}
#painelDireita {
  background-color: $panel-right-background;
  box-sizing: border-box;
  position: absolute;
  right: 76px;
  top: 50%;
  color: white;
  min-width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  padding-top: 20px;
  transform: translateY(-50%);
  z-index: 20;
}

/*========================================================*/

.item-rota {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}
.item-rota-sup {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}
.sortableHandle {
  float: right;
  width: 20px;
  height: 20px;
  padding: 10px 2px 10px 2px;
  margin: 5px;
  border: solid;
  border-width: 1px;
  border-color: #666;
}
.rota-3cols {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 11px;
}
.rota-3cols table {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}
.rota-3cols table tr {
  padding: 0;
  margin: 0;
}
.rota-3cols table td {
  padding: 0 3px 0 3px;
  margin: 0;
  width: 33%;
}
#totalRota {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 4px;
  border: solid;
  border-width: 1px 0 0 0;
  border-color: #666;
}

/*========================================================*/

.item-rota-recente {
  width: 100%;
  margin: 0;
  min-height: 0;
}
.item-rota-recente table {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}
.item-rota-recente table tr {
  padding: 0;
  margin: 0;
}
.item-rota-recente table td {
  padding: 0 3px 0 3px;
  margin: 0;
}
.item-rota-recente table td div {
  font-size: 12px;
  color: #aaa;
}

/*========================================================*/

.camada {
  color: #ddd;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  transition: background-color .2s;
}

.camada:hover {
  /* background-color: #2f2f2f; */
}

.camadaAtiva {
  /* background-color: #8b8; */
  background-color: #0066ff !important;
  opacity: 1 !important;
}

.camadaAtiva:hover {
  /* background-color: rgb(0, 72, 179); */
}

#menuPesquisa-tab {
  margin-right: 4px; // espaço da barra de rolagem
  margin-top: 48px;
  height: calc(100% - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}
