<div class="form">
	<div class="form-header">
		<div class="title">{{'profile.formHeaderTitle'|translate}}</div>
		<div class="subtitle">{{'profile.formHeaderSubtitle'|translate}}</div>
	</div>
	<form id="idProfileForm" ng-submit="profileFormSubmit()">
		<div class="top-form">
			<div class="left">
				<label for="profileFormPicture">
					<span class="image" ng-if="profileForm.picture"><img src="{{profileForm.picture}}" imageonload alt=""></span>
					<span class="text">{{'profile.profileFormPictureLabel'|translate}}</span>
					<span class="icon">
						<na-svg name="icons/profile-photo-icon" />
					</span>
				</label>
				<input id="profileFormPicture" type="file" ng-model="profileForm.picture" accept="image/*" app-filereader />
			</div>
			<div class="right">
				<div class="field">
					<label for="profileFormFirstName">{{'profile.profileFormFirstNameFieldLabel'|translate}}</label>
					<input id="profileFormFirstName" type="text" ng-model="profileForm.name" value="{{profileForm.name}}" placeholder="{{'profile.profileFormFirstNameFieldPlaceholder'|translate}}" required />
				</div>
				<div class="field">
					<label for="profileFormSurname">{{'profile.profileFormSurnameFieldLabel'|translate}}</label>
					<input id="profileFormSurname" type="text" ng-model="profileForm.surname" placeholder="{{'profile.profileFormSurnameFieldPlaceholder'|translate}}" required />
				</div>
			</div>
		</div>
		<div class="occupation-form">
			<div class="title">{{'profile.occupationLabel'|translate}}</div>
			<div class="choices">
				<label ng-repeat="(index,choice) in occupationChoices">
					<div class="custom-radio">
						<input id="{{choice.id}}" type="radio" name="occupaction-choice" ng-model="profileForm.pilotOption" ng-value="choice.id" ng-change="occupationChange(choice.id)" required />
						<label for="{{choice.id}}"></label>
						<span>{{choice.name}}</span>
					</div>
				</label>
			</div>
			<div class="choices-fields">
				<div class="field" ng-repeat="(index,choiceField) in occupationChoicesFields">
					<label>
						{{choiceField.label}}
						<na-select options-object="choiceField.options" options-key="value" options-text="label" ng-model="profileForm[[choiceField.name]]" ng-required="true" />
					</label>
				</div>
			</div>
			<div class="actions">
				<div class="info">
					{{'profile.actionsInfo'|translate}}
				</div>
			</div>
			<div class="terms" ng-if="!profileForm.readTermsOnRegister">
				<div class="nex-checkbox">
					<input id="idProfileFormReadTerms" type="checkbox" ng-model="profileForm.read_terms">
					<label for="idProfileFormReadTerms"></label>
					<na-terms-modal previous-text="{{'terms.readTermsLabel'|translate}}" link-text="{{'terms.termsOfUseLabel'|translate}} {{'terms.and'|translate}} {{'terms.privacyPolicyLabel'|translate}}" link-class="highlight"/>
				</div>
			</div>
			<div>
				<ul>
					<li ng-repeat="error in errors">{{error}}</li>
				</ul>
			</div>
			<div class="submit-button">
				<input type="submit" form="idProfileForm" value="{{'profile.submitprofileForm'|translate}}" />
			</div>
		</div>
	</form>
</div>
