/*========================================================*/
/* Block */
/*========================================================*/

  .na-block {
    display: table;
    width: 100%;
  }

    .na-block.is-total {
      padding: 5px 60px;
      border-top: 1px solid #2e2e2e;
    }

    .na-block .na-blockItem {
      display: inline-block;
      text-align: center;
      width: 40%;

      &:last-child {
        width: 20%;
      }
    }

      .na-block .na-blockItem:first-child {
        text-align: left;
      }

      /* .na-block .na-blockItem:last-child {
        text-align: right;
      } */
