/*========================================================*/
/* Button */
/*========================================================*/

  .na-button {
    background-color: #2e2e2e;
    border: none;
    outline: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 35px;
    line-height: 35px;
  }

  .na-button:hover {
    background-color: #454545;
  }

  .na-button:active {
    background-color: #2e2e2e;
  }

    .na-button .na-loading {

    }


/*========================================================*/
/* ClearButton */
/*========================================================*/

  .na-clearButton {
    color: $blue-2;
    font-size: 14px;
    line-height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 20px;
    text-decoration: none;
    font-weight: 400;
  }

    .na-clearButton:hover {
      color: #cccccc;
    }

    .na-clearButton:active {
      color: #8e8e8e;
    }


/*========================================================*/
/* ButtonGroup */
/*========================================================*/

  .na-buttonGroup {
    display: table;
  }

    .na-buttonGroup:after {
      display: table;
      clear: both;
    }

    .na-buttonGroup.is-right {
      margin-left: auto;
      margin-right: 0;
    }

    .na-buttonGroup.is-centered {
      margin-left: auto;
      margin-right: auto;
    }
