/*
  * Demo structure
  *   <div class="na-checkbox">
  *     <input id="inputCheckbox" type="checkbox">
  *     <label for="inputCheckbox">
  *       Label text
  *       <span></span>
  *     </label>
  *   </div>
 */

%box {
  background-color: $panel-right-background;
  border: 1px solid $grey3;
  box-sizing: border-box;
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  top: 50%;
  margin-top: -10px;

  svg {
    display: none;
    stroke: $white;
  }

  // parents
  .is-right & {
    left: auto;
    margin-top: 0;
    right: 0;
    top: 0;
  }
}

  %box-checked {
    background-color: $blue;
    border-color: transparent;

    svg { display: block; }
  }

  %boxWarn-checked {
    background-color: $panel-right-background;
    border-color: $yellow;

    svg { stroke: $yellow; }
  }

  %box-hover {
    border-color: $white !important;

    svg { stroke: $white !important; }
  }

  %box-active {
    background-color: $grey2 !important;
    border-color: $grey2 !important;
  }


%inputBoxInput {
  display: none;
}


%inputBoxLabel {
  display: block;
  padding-left: 30px;
  position: relative;

  // parents
  .is-right & {
    padding-left: 0;
    padding-right: 30px;
  }
}


%inputBox {
  &:hover label span { @extend %box-hover; }
  &:active label span { @extend %box-active; }

  &.is-warn {
    input:checked ~ label span { @extend %boxWarn-checked; }
  }

  // childers
  input {
    @extend %inputBoxInput;

    &:checked ~ label span {
      @extend %box-checked;
    }
  }

  label {
    @extend %inputBoxLabel;

    span { @extend %box; }
  }
}



/*========================================================*/
/* Checkbox */
/*========================================================*/

  .na-checkbox {
    @extend %inputBox;
  }


/*========================================================*/
/* Radio */
/*========================================================*/

  .na-radio {
    @extend %inputBox;

    &:hover input:checked ~ label span:before {
      background: $white !important;
    }

    // childers
    input {
      &:checked ~ label span:before {
        background: $yellow;
        border-radius: 50%;
        content: '';
        display: block;
        height: 8px;
        margin: 5px;
        width: 8px;
      }
    }

    label span { border-radius: 50%; }
  }
