/*========================================================*/
/* ConfigArea */
/*========================================================*/

  .na-configArea {
    padding: 20px !important;
  }

    .na-configArea .na-title {
      font-size: 23px;
      margin-bottom: 10px;
    }

    .na-configArea .na-subtitle {
      font-size: 15px;
      color: $white;
    }


  .na-highlight {
    color: $blue;
    text-transform: uppercase;
  }

  .na-highlight.is-success {
    color: $green;
  }


  .na-list {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
  }

  .na-link {
    color: $blue-2;
    font-size: 14px;
    text-decoration: none;

    &.is-block {
      line-height: 48px;
      padding: 0 20px;
    }
  }


  .na-form {
    padding: 10px 20px;
  }
