.custom-radio {
	display: flex;
	align-items: center;
  justify-content: center;
	position: relative;

	span {
    margin: 0 .5em
	}

	label {
		width: 1em;
		height: 1em;
    border-radius: 50%;
		cursor: pointer;
		position: relative;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0);
		border: #000 solid 1px;
		transition: all 250ms ease;

		&:hover {
			border-color: #FFF;
		}

		&:after {
			content: '';
			position: absolute;
      border-radius: 50%;
			top: 50%;
			left: 50%;
			border: .5em solid #FFF;
			border-top: none;
			border-right: none;
			background: transparent;
			opacity: 0;
      transform: translate(-50%, -50%);
		}

		&:hover::after {
			opacity: 0.5;
		}
	}

	input[type=radio] {
		visibility: hidden;
		display: none;

		&:checked + label:after {
			opacity: 1;
		}
	}
}
