/*========================================================*/
/* Input */
/*========================================================*/

  %input {
	width: 100%;
	background: #313131;
	border-radius: 0.15em;
	border: #212121 solid 1px;
	padding: 0.5em;
	color: #FFF;
	transition: all 250ms ease;

	&:focus {
		border-color: #FFF;
	}

    &:not(.na-input--search) {
        margin: 0.75em 0;
        height: 3em;
    }

	&.na-input-ground-speed {
		max-height: 100%;
		height: auto;
		margin-left: .5em;
	}

	&::placeholder:not(.na-input--search) {
		color: #8CDFBD;
	}

    &.is-error {
      border-color: $red;
      color: $red;
    }

    // pseudo-classes
    // ------------------------------------------------------ //

      &:focus:not(.na-input--search) {
        background-color: transparent;
        border-color: $blue;
        color: $white;
      }

    // ------------------------------------------------------ //


    // pseudo-elements
    // ------------------------------------------------------ //

      &::-ms-clear { display: none; } // NOTE: Remove o X dos input's do Microsoft Edge

      &::-moz-placeholder,
      &:-moz-placeholder {
        color: $grey2;
        opacity: 1;
      }

    // ------------------------------------------------------ //
  }



  $component: '.#{$prefix}-input';

  #{$component} {
    @extend %input;

    &#{$component}--search {
      background-color: $white;
      border-color: $grey2;
      color: $black;

      &:focus { border-color: $blue; }
    }

    &#{$component}--tiny { width: 60px; } // input para inserir a 'velocidade de solo'
  }

  textarea#{$component} { min-height: 134px; }
