/*========================================================*/
/* Login */
/*========================================================*/

  .na-login {
    background-color: #000;
    padding: 30px;
    position: absolute;
    left: 50%;
    max-width: 410px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

    .na-loginClose {
      font-size: 14px;
      position: absolute;
      right: 10px;
      top: 5px;
    }

    .na-login .na-title,
    .na-login .na-link {
      font-size: 14px;
    }


  .na-loginLogo {
    padding-bottom: 20px;
    width: 170px;
  }

    .na-loginLogo img {
      display: block;
      height: auto;
      width: 100%;
    }


/*========================================================*/
/* loginControl */
/*========================================================*/

    .na-loginControl {
      align-items: center;
      display: flex;
      width: 100%;
    }

      .na-loginControl.is-end {
        align-items: flex-end;
      }

      .na-loginControl :last-child {
        margin-left: auto;
      }
