.login {
	font-family: Montserrat light;
	font-size: 10px;
	height: 100vh;
	width: 80%;
	margin: auto;
	color: #FFF;

	.bg-img {
		position: fixed;
		z-index: -1;
		bottom: 0;
		right: 0;
		min-width: 100%;
	}

	.header {
		height: 8em;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;

		.logo,
		.right-cta {
			align-self: center;
		}

		.logo {
			max-width: 20em;

			svg {
				width: 20em;
			}

			.st0 {
				fill: #FFF;
			}
		}

		.right-cta {
			display: none;
			justify-content: center;
			align-items: center;
			font-size: 12px;

			span {
				margin: 0 0.5em;
			}
			@extend .black-button
		}
		 @media (min-width: 42em){
			justify-content: space-between;

			.logo,
			.right-cta {
				flex-basis: 50%;
			}

			.right-cta {
				display: flex;
				align-content: flex-end;
				justify-content: flex-end;
			}
		}
	}

	.form {
		max-width: 40em;
		margin: auto auto 5em;

		.form-header {
			margin-top: 2em;
			margin-bottom: 1.5em;
			text-align: center;

			.title {
				text-transform: uppercase;
				font-weight: 500;
				font-size: 24px;
				margin-bottom: 1.5em;
			}

			.subtitle {
				margin: 1.5em 0;
				font-size: 14px;

				.highlight {
					text-decoration: underline;
					color: #212121;
					transition: all 250ms ease;

					&:hover {
						color: #FFF;
					}
				}
			}
		}

		.social-buttons {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			flex-direction: row;
			margin-bottom: 1.5em;

			.title {
				font-size: 14px;
				flex-basis: 100%;
				margin: 0.5em;
			}

			.facebook-button,
			.google-button {
				flex-basis: 48%;
				text-transform: uppercase;
				height: 3em;
				font-size: 14px;
				border: none;
				border-radius: 0.1em;
				transition: all 250ms ease;
				padding: 0.4em;

				svg {
					max-width: 100%;
					max-height: 100%;

					.st0 {
						fill: #FFF;
					}
				}
			}

			.facebook-button {
				background: #3B5999;

				&:hover {
					background: darken(#3B5999, 14);
				}
			}

			.google-button {
				padding: 0.45em;
				background: #FFF;

				&:hover {
					background: darken(#FFF, 14);
				}
			}
		}

		.errors-list {
			padding: 0 0 0 0.5em;
			margin: 2em 0.5em 1em;
			font-size: 1.5em;
			color: #ef5350;
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: stretch;

			.title {
				margin: 1.5em 0;
				font-size: 14px;
			}

			.field {
				input {
					font-size: 14px;
					margin: 0.75em 0;
					width: 100%;
					background: #00B96D;
					border-radius: 0.15em;
					border: #212121 solid 1px;
					height: 3em;
					padding: 0.5em;
					color: #FFF;
					transition: all 250ms ease;

					&:focus {
						border-color: #FFF;
					}

					&::placeholder {
						color: #8CDFBD;
						text-transform: capitalize;
					}
				}
			}

			.actions {
				margin: 0.75em 0 1.5em;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.submit-button {
				align-self: center;
				margin-top: 1.5em;

				a,
				button,
				input[type=submit] {
					text-transform: uppercase;
					height: 3.22em;
					line-height: 3.22em;
					width: 14em;
					background: #212121;
					font-size: 14px;
					color: #FFF;
					border: none;
					transition: all 250ms ease;
					vertical-align: middle;
					text-align: center;
					text-decoration: none;

					&:hover {
						background: darken(#00B96D, 14);
					}

					&:disabled {
						cursor: not-allowed;
						background: #CCC;

						&:hover {
							cursor: not-allowed;
							background: #CCC;
						}
					}
				}
			}
		}
	}
}
