.nex-general-modal {
	font-size: 10px;
	opacity: 0;
	z-index: -2;
	position: absolute;
	background: rgba(33,33,33,.5);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 250ms ease;

	&.show {
		opacity: 1;
		z-index: 98;

		.modal {
			transform: translateY(0);
			z-index: 99;
		}
	}

	::-webkit-scrollbar {
		background-color: transparent;
		width: 0.3em;
	}
	// Botões da barra de rolagem
	::-webkit-scrollbar-button {}
	// Conjunto da barra de rolagem
	::-webkit-scrollbar-track {
		background-color: transparent;
	}
	// Background da barra de rolagem
	::-webkit-scrollbar-track-piece {
		background-color: transparent;
	}
	// Indicador da barra de rolagem
	::-webkit-scrollbar-thumb {
		background-color: #000;
	}
	// Interceção entre barra de rolagem vertical e horizontal
	::-webkit-scrollbar-corner {}
	// Indicador de redimensinamento da barra de rolage,
	::-webkit-resizer {}

	.modal {
		color: #111111;
		transform: translateY(-150%);
		background: #FFF;
		min-height: 10em;
		max-width: 90%;
		max-height: 90%;
		border-radius: 0.2em;
		margin: 1em auto auto;
		overflow: auto;
		transition: all 250ms ease;
		z-index: -2;
		position: relative;
		display: flex;
		flex-direction: column;

		.header {
			margin: 2.4em 2.4em 1em;

			.title {
				font-size: 3.2em;
				align-self: center;
			}
		}

		.body {
			margin: 1em 2.4em 2.4em;
			overflow-y: auto;

			.content {
				align-self: center;
				font-size: 1.6em;
			}
		}

		.footer {
			margin: 0.8em 0.8em 0.8em 2.4em;
			min-height: 3.6em;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			@extend .black-button
		}
	}
}

.nex-terms-modal {
	font-size: 10px;
	opacity: 0;
	z-index: -2;
	position: fixed;
	background: #EAEAEA;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 250ms ease;
	overflow: auto;

	&.show {
		opacity: 1;
		z-index: 98;

		.modal {
			transform: translateY(0);
			z-index: 99;
		}
	}

	&::-webkit-scrollbar {
		background-color: transparent;
		width: 0.3em;
		z-index: 9;
	}
	// Botões da barra de rolagem
	&::-webkit-scrollbar-button {}
	// Conjunto da barra de rolagem
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
	// Background da barra de rolagem
	&::-webkit-scrollbar-track-piece {
		background-color: transparent;
	}
	// Indicador da barra de rolagem
	&::-webkit-scrollbar-thumb {
		background-color: #000;
	}
	// Interceção entre barra de rolagem vertical e horizontal
	&::-webkit-scrollbar-corner {}
	// Indicador de redimensinamento da barra de rolage,
	&::-webkit-resizer {}

	.modal {
		color: #111111;
		transform: translateY(-150%);
		min-height: 100%;
		margin: 8em auto;
		padding: 0 2.4em;
		overflow: visible;
		transition: all 250ms ease;
		z-index: -2;
		position: relative;
		display: flex;
		flex-direction: column;

		.modal-header {
			margin: 0 0 2.75em 0;
			display: flex;
			justify-content: center;
			height: 100%;

			.modal-title {
				font-family: 'Montserrat regular', sans-serif !important;
				font-size: 4.4em;
				margin: 0 1.5em;
				text-align: center;
				align-self: center;
				line-height: 120%;
				color: #353c40;
			}
		}

		.modal-body {
			margin: 2.75em 0 0 0;

			.modal-content {
				align-self: center;

				.modal-title, h2 {
					font-family: 'Montserrat light', sans-serif;
					font-size: 1.5em;
					text-transform: uppercase;
					margin-bottom: 1.2em;
					margin-top: 1.7em;
					color: #353c40;

					&:nth-child(1) {
						margin-top: 0;
					}
				}

				.modal-text,
				p {
					color: #353c40;
					font-family: 'Montserrat light', sans-serif !important;
					font-size: 1.5em;
					margin: 0.5em 0;
					line-height: 160%;
				}
			}
		}
	}

	.close-button {
		position: absolute;
		top: 2em;
		right: 2em;
		color: #111111;

		a,
		a:active,
		a:focus,
		a:hover,
		a:visited {
			text-decoration: none;
			font-size: 2.1em;
			color: #111111;
		}
	}
	@media (min-width: 76.8em) {
		.modal {
			padding: 0 8em;
		}
	}
	@media (min-width: 102.4em) {
		.modal {
			padding: 0;
			max-width: 74em;
		}
	}
}
