.nex-select {
	font-size: 10px;
	position: relative;

	&:hover {
		.icon {
			svg .st0 {
				fill: #CCC;
			}
		}
	}

	&.show {
		input[type=text] {
			background-color: #4F4F4F !important;
		}
	}

	input[type=text] {
		cursor: pointer;
		background-color: #363636 !important;
		padding-left: 1em !important;
		margin: 0.75em 0;
		width: 100%;
		background: #00B96D;
		border-radius: 0.15em;
		border: #212121 solid 1px;
		height: 3em;
		padding: 0.5em;
		color: #FFF;
		transition: all 250ms ease;

		&:focus {
			border-color: #FFF;
		}

		&::placeholder {
			color: #8CDFBD;
			text-transform: capitalize;
		}

		&:focus {
			background-color: #4F4F4F !important;
		}
	}

	.icon {
		position: absolute;
		width: 1.5em;
		height: 1.5em;
		right: 1em;
		top: 50%;
		transform: translateY(-50%);
		overflow: hidden;

		svg {
			width: 100%;
			height: 100%;

			.st0 {
				transition: all 250ms ease;
				fill: #FFF;
				opacity: 1;
			}
		}
	}

	ul {
		// display: none;
		position: absolute;
		z-index: 98;
		top: 100%;
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
		list-style: none;
		background: #363636;
		border: 1px solid #FFF;
		max-height: 18.3em;
		margin-top: -1em;
		overflow: auto;
		//
		// &.show {
		// 	display: block;
		// }
		&.openUp {
			margin-top: 0;
			top: -19em;
		}

		li {
			line-height: 2.9em;
			padding: 0.41em 1em;
			font-size: 1.1em;
			cursor: pointer;

			&.category {
				cursor: auto;
				color: #74787A;

				&:hover {
					background: #363636;
				}
			}

			&:hover {
				background-color: #4F4F4F;
			}
		}
	}
}
