.profile {
	font-family: Montserrat light;
	font-size: 10px;
	height: 100vh;
	width: 80%;
	margin: auto;
	color: #FFF;

	.bg-img {
		position: absolute;
		z-index: -1;
		bottom: 0;
		right: 0;
		min-width: 100%;
	}

	.header {
		height: 8em;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;

		.logo {
			align-self: center;
		}

		.logo {
			max-width: 20em;

			svg {
				width: 20em;
			}

			.st0 {
				fill: #FFF;
			}
		}
		@media (min-width: 42em) {
			justify-content: space-between;

			.logo {
				flex-basis: 50%;
			}
		}
	}

	.form {
		max-width: 40em;
		margin: auto auto 5em;

		.form-header {
			margin-top: 2em;
			margin-bottom: 1.5em;
			text-align: center;

			.title {
				text-transform: uppercase;
				font-weight: 500;
				font-size: 24px;
				margin-bottom: 1.5em;
			}

			.subtitle {
				margin: 1.5em 0;
				font-size: 14px;

				.highlight {
					text-decoration: underline;
					color: #212121;
					transition: all 250ms ease;

					&:hover {
						color: #FFF;
					}
				}
			}
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			margin-top: 1.5em;

			select {
				width: 100%;
			}

			.top-form {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				@media(min-width: 42em) {
					flex-direction: row;
					justify-content: space-between;
					align-items: stretch;

					.right {
						margin-left: 2.5em;
						width: 65%;
					}
				}

				.left {
					position: relative;
					min-width: 13em;
					min-height: 18em;

					input[type=file] {
						width: 0.1px;
						height: 0.1px;
						opacity: 0;
						overflow: hidden;
						position: absolute;
						z-index: -1;
					}

					label {
						text-align: center;
						font-size: 14px;
						font-weight: 500;
						position: absolute;
						cursor: pointer;
						height: 9.6em;
						line-height: 9.6em;
						width: 9.6em;
						background-color: #FFF;
						border-radius: 50%;
						color: #212121;
						top: 0;
						left: 0;
						right: 0;

						&:hover {
							.icon {
								svg {
									border-width: 1px;
								}
							}
						}

						.image {
							text-align: center;
							font-size: 14px;
							font-weight: 500;
							position: absolute;
							cursor: pointer;
							height: 9.6em;
							line-height: 9.6em;
							background-color: #FFF;
							border-radius: 50%;
							color: #212121;
							top: 0;
							left: 0;
							right: 0;
							overflow: hidden;

							img {
								margin: auto;
								vertical-align: middle;
								position: absolute;
								transform: translate(-50%,0);
								min-height: 9.6em;
								min-width: 9.6em;
								border-radius: 50%;
								overflow: hidden;

								&.wider {
									width: auto;
									max-height: 100%;
									max-width: 100%;
								}

								&.higher {
									max-width: 100%;
									height: auto;
								}
							}
						}

						.icon {
							svg {
								border: #00B96D solid 5px;
								border-radius: 50%;
								position: absolute;
								width: 40%;
								top: 7.5em;
								left: 0;
								right: 0;
								height: 40%;
								margin: auto;
								background: #FFF;
								transition: all 250ms ease;

								.st0 {
									fill: #212121;
								}
							}
						}
					}

					svg {
						.st0 {}
					}
				}

				.right {
					width: 100%;
				}
			}

			.occupation-form {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				margin-top: 1em;

				.title {
					color: #212121;
					font-size: 14px;
					padding-bottom: 0.2em;
					border-bottom: #212121 solid 0.1em;
					margin-bottom: 0.5em;
				}

				.choices {
					margin: 3em 0 2em;
					font-size: 14px;
					display: flex;
					justify-content: space-around;
					align-items: center;

					label {
						display: flex;
						align-items: center;
					}
				}
			}

			.field {
				margin: 1em 0;
				font-size: 14px;

				input {
					margin: 0.75em 0;
					width: 100%;
					background: #00B96D;
					border-radius: 0.15em;
					border: #212121 solid 1px;
					height: 3em;
					padding: 0.5em;
					color: #FFF;
					transition: all 250ms ease;

					&:focus {
						border-color: #FFF;
					}

					&::placeholder {
						color: #8CDFBD;
						text-transform: capitalize;
					}
				}
			}

			.actions {
				margin: 0.75em 0 1.5em;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				.info {
					display: flex;
					align-items: center;
					position: relative;
				}

				.lost-password {
					a {
						color: #000;
						text-decoration: underline;
					}
				}
			}

			.submit-button {
				align-self: center;
				margin-top: 1.5em;

				a,
				button,
				input[type=submit] {
					padding: 0;
					text-transform: uppercase;
					height: 3.22em;
					line-height: 3.22em;
					width: 14em;
					background: #212121;
					font-size: 14px;
					color: #FFF;
					border: none;
					transition: all 250ms ease;
					vertical-align: middle;
					text-align: center;
					text-decoration: none;

					&:hover {
						background: darken(#00B96D, 14);
					}

					&:disabled {
						cursor: not-allowed;
						background: #CCC;

						&:hover {
							cursor: not-allowed;
							background: #CCC;
						}
					}
				}

				a:active,
				a:visited {
					background: #212121;

					&:hover {
						background: darken(#00B96D, 14);
					}
				}
			}
		}
	}

	.terms {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #00B96D;
	}
}
