.routes-planning-left-menu {
	font-size: 10px;
	line-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	overflow: hidden;

	.header {
		align-items: center;
		padding: 2.4em;
		padding-bottom: 1em;

		.line {
			align-items: stretch;
			flex-grow: 1;
			background-color: #1A1A1A;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			&:last-child {
				padding-top: 2.4em;
				font-weight: 500;
			}

			.action,
			.title {
				align-self: center;
			}

			.title {
				font-weight: 700;
				font-size: 1.5em;
				text-transform: uppercase;
			}

			.action {}
		}
	}

	.routes {
		background-color: #1A1A1A;
		flex-grow: 25;
		overflow-y: auto;
		position: relative;
		flex-shrink: 1;

		.card {
			align-self: center;

			.waypoint {
				padding: 2.4em;
				display: flex;
				justify-content: space-around;
				align-items: center;
				background-color: #1A1A1A;
				border-top: 0.1em solid #000;
				border-bottom: 0.1em solid #000;
				transition: all 250ms ease;
				position: relative;

				&:hover {
					box-shadow: -.4em 0 0 0 #787d7f;
    				margin-left: .4em;

					.waypoint-remove-icon {
						opacity: 1;
					}
				}

				.waypoint-icon {
					width: 2.4em;
					height: 2.4em;
					min-width: 2.4em;
					min-height: 2.4em;
					max-width: 2.4em;
					max-height: 2.4em;
				}

				.waypoint-info {
					flex-grow: 1;
					padding: 0 2.4em;
  					min-width: 33%;
					display: flex;
					flex-direction: column;
					justify-content: center;

					.title {
						font-family: 'Montserrat light', 'Roboto', sans-serif;
						font-size: 1em;
						line-height: 1.2em;
						color: #fdbe32;
					}

					.waypoint-name {
						font-family: 'Montserrat light', 'Roboto', sans-serif;
						font-size: 1.4em;
						line-height: 1.6em;
						color: #ffffff;
					}

					.waypoint-type {
						font-family: 'Montserrat light', 'Roboto', sans-serif;
						font-size: 1.4em;
						line-height: 1.6em;
						color: #777;
					}

					.title, .waypoint-name, .waypoint-type {
						overflow: hidden;
						text-overflow: ellipsis;
						span {
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
						}
					}
				}

				.waypoint-remove-icon {
					position: absolute;
					opacity: 1;
					width: 1.5em;
					height: 1.5em;
					min-width: 1.5em;
					min-height: 1.5em;
					max-width: 1.5em;
					max-height: 1.5em;
					top: 1.5em;
    				right: 1.5em;
					cursor: pointer;
					transition: all 250ms ease;

					@media (min-width: 80em){
						opacity: 0;
					}
				}

				.waypoint-move-icon {
					position: absolute;
					opacity: 1;
					width: 1.5em;
					height: 1.5em;
					min-width: 1.5em;
					min-height: 1.5em;
					max-width: 1.5em;
					max-height: 1.5em;
					top: 50%;
    				right: 1.5em;
					transform: translateY(-50%);
					cursor: move;
					transition: all 250ms ease;
				}
			}

			.route-info {
				flex-basis: 3.2em;
				line-height: 3.2em;
				padding: 0 2.4em;
				display: flex;
				justify-content: space-between;
				align-items: center;
				background-color: #131313;
				transition: all 250ms ease;

				span {
					font-family: 'Montserrat light', 'Roboto', sans-serif;
					font-size: 1.3em;
					color: #8e9294;
				}
			}
		}

		.empty-routes {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: #1A1A1A;

			.icon,
			.text {
				align-self: center;
				display: flex;
				align-items: center;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.icon {
				min-height: 3em;
				flex-basis: 3em;
			}

			.text {
				line-height: 100%;
				font-size: 3em;
				flex-basis: 3em;
			}
		}
	}

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: #202020;
		border-top: 0.1em solid #4C5051;
		padding: 1.6em;
		max-height: 4.8em;
		height: 4.8em;
		flex-basis: 4.8em;
		flex-grow: 0;
		flex-shrink: 0;

		.distance,
		.time,
		.total {
			font-family: 'Montserrat light', 'Roboto', sans-serif;
			font-size: 1.5em;
			line-height: 2.2em;
			align-self: center;
		}

		.total {
			text-transform: uppercase;
			color: #ffffff;
		}

		.distance,
		.time {
			color: #fdbe32;
		}
	}
}
