// Barra de rolagem

::-webkit-scrollbar {
	background-color: transparent;
	width: 0.3em;
}
// Botões da barra de rolagem
::-webkit-scrollbar-button {}
// Conjunto da barra de rolagem
::-webkit-scrollbar-track {
	background-color: transparent;
}
// Background da barra de rolagem
::-webkit-scrollbar-track-piece {
	background-color: transparent;
}
// Indicador da barra de rolagem
::-webkit-scrollbar-thumb {
	background-color: #9A9D9F;
	margin-right: .1em;
}
// Interceção entre barra de rolagem vertical e horizontal
::-webkit-scrollbar-corner {}
// Indicador de redimensinamento da barra de rolage,
::-webkit-resizer {}
