/*========================================================*/
/* Search */
/*========================================================*/

  .na-search {
    background-color: $search-background;
    display: table;
    height: 100px;
    left: initial !important;
    padding: 0 20px;
    width: 100%;
  }
    .na-search:hover {
      background-color: $search-background-hover;
    }
    .na-search:active {
      background-color: $search-background-active;
    }

    .na-search.is-drag {
      transform: scale(.9);
    }

    .na-search.is-alignTop {
      padding-top: 20px !important;
    }


  .na-searchSection {
    display: table-cell;
    vertical-align: middle;
  }

  .is-alignTop .na-searchSection {
    vertical-align: top;
  }

    .na-searchSection.is-icon {
      padding-right: 20px;
      width: 40px;
    }

      .na-searchSection img {
        height: 20px;
        width: 20px;
      }

    .na-searchSection.is-info {
      max-width: 280px;
      width: 280px;
    }

    .na-searchSection.is-info.is-small {
      max-width: 240px;
      width: 240px;
    }

      .na-searchSection.is-info .na-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

    .na-searchSection.is-button {
      padding-left: 20px;
      opacity: 0;
      width: 40px;
    }

      .na-search:hover .na-searchSection.is-button {
        opacity: 1;
      }

      .na-searchSection.is-button div {
        height: 20px;
      }

      /* .na-searchSection.is-button > div:first-child {
        padding-bottom: 10px;
      } */

      .na-searchSection.is-button > div path {
        fill: grey;
      }

      .na-searchSection.is-button > div:hover path {
        fill: #fff;
      }
