/*========================================================*/
/* Tutorial */
/*========================================================*/

  .na-tutorial {
    background-color: #000;
    padding: 30px;
    position: absolute;
    left: 50%;
    max-width: 750px;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: 90%;

    &.na-tutorial--term {
      color: white !important;
      max-height: 600px;
      overflow-y: auto;
    }
  }

    .na-tutorial .na-title {
      height: 70px;
      text-align: center;
      padding-bottom: 30px;
    }

    .na-tutorialImage {
      background-color: #2e2e2e;
      border: 1px solid #fff;
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
      width: 100%;
    }

    .na-tutorialImage.no-border {
      border: none;
    }

    .na-tutorialControl {
      position: relative;
      height: 20px;
      width: 100%;
    }

      .na-tutorialControlSection {
        color: #fff;
        display: table;
        position: absolute;
      }
        .na-tutorialControlSection.is-left {
          left: 0;
        }
        .na-tutorialControlSection.is-center {
          left: 50%;
          margin-left: -95px;

          @media screen and (max-width: 414px) {
            display: none;
          }
        }
        .na-tutorialControlSection.is-right {
          right: 0;
        }


    .na-tutorialCircle {
      background-color: #fff;
      border-radius: 50%;
      display: inline-block;
      height: 10px;
      width: 10px;
      margin: 0 5px;
    }

    .na-tutorialCircle.is-active {
      background-color: #0066ff;
    }

    .na-tutorialIcon {
      display: table-cell;
      vertical-align: middle;
      padding: 0 5px;
    }

      .na-tutorialIcon img {
        display: block;
        height: 16px;
        width: 16px;
      }

        .na-tutorialIcon.is-warn {
          color: #fdbe32;
        }


    .na-tutorialClose {
      position: absolute;
      right: 20px;
      top: 20px;
    }

      .na-tutorialClose img {
        height: 16px;
        width: 16px;
      }
