// <div class='dots'>
//   <span></span>
//   <span></span>
//   <span></span>
//   <span></span>
//   <span></span>
// </div>

.#{$prefix}winLoading {

  // align-items: center;
  // display: flex;
  // height: 48px;
}

// must be at least the number of spans, otherwise they just collapse over each other
$dots: 5;
// pixels between dots at their closest
$spacing: 20;
// time offset between dots (will have an apparent effect on spacing also)
$gap: 0.05;

.dots {
    // position: relative;
    width: 100%;
    // top: 100px;
}
@for $i from 1 through $dots {
  .dots span:nth-child(#{$i}) {
    animation-delay: #{$i * $gap}s;
  }
  .dots span:nth-child(#{$i}):after {
    left: -#{$i * $spacing}px;
  }
}
.dots span {
    display: inline-block;
    position:absolute;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.dots span:after {
    content: "";
    position:absolute;
    display: inline-block;
    background-color: hsl(0,0%,94%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.dots.animate span {
  animation-name: dots;
}

@keyframes dots {
    0%,20% {
        left: 0;
        animation-timing-function: ease-out;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    35% {
        left: 45%;
        animation-timing-function: linear;
    }
    65% {
        left: 55%;
        animation-timing-function: ease-in;
    }
    75% {
        opacity: 1;
    }
    80%,100% {
        left: 100%;
        opacity: 0;
    }
}
