<div>
<div class="form" ng-show="validToken">
	<div class="form-header">
		<div class="title">{{'redefinePassword.formHeaderTitle'|translate}}</div>
		<div class="subtitle">{{'redefinePassword.formHeaderSubtitle'|translate}}</div>
	</div>
	<form ng-submit="redefinePasswordFormSubmit()">
		<div class="field">
			<input id="redefinePasswordFormPassword" ng-disabled="formSubmitting" type="password" ng-model="redefinePasswordForm.password" placeholder="{{'redefinePassword.redefinePasswordFormPasswordFieldPlaceholder'|translate}}" required/>
		</div>
		<div class="field">
			<input id="redefinePasswordConfirmationFormPasswordConfirmation" ng-disabled="formSubmitting" type="password" ng-model="redefinePasswordForm.passwordConfirmation" placeholder="{{'redefinePassword.redefinePasswordFormPasswordConfirmationFieldPlaceholder'|translate}}"
			  required/>
		</div>
		<div class="submit-button">
			<input type="submit" ng-disabled="formSubmitting" value="{{'redefinePassword.submitredefinePasswordForm'|translate}}" />
		</div>
	</form>
</div>
<div class="form" ng-hide="validToken">
	<div class="form-header">
		<div class="title">{{'redefinePassword.invalidTokenTitle'|translate}}</div>
		<div class="subtitle">{{'redefinePassword.invalidTokenText1'|translate}}</div>
		<div class="subtitle">{{'redefinePassword.invalidTokenText2'|translate}}</div>
		<div class="icon">
			<na-svg name="icons/warning-icon" />
		</div>
	</div>
</div>
</div>
