<div class="login">
	<div class="bg-img">
		<na-svg name="backgrounds/grafismo_rota-01"></na-svg>
	</div>
	<div class="header">
		<div class="logo">
			<na-svg name="icons/logotipo_simbolo_horizontal_cor-01"></na-svg>
		</div>
		<div class="right-cta">
			<span>{{'labels.headerButtonTextRegister'|translate}}</span>
			<button ng-click="userRegister()">{{'labels.headerButtonRegister'|translate}}</button>
		</div>
	</div>
	<login-form ng-model="user"></login-form>
</div>
