﻿<div>
	<form-field-input label="nome"
					  placeholder="nome"
					  model="ngModel.pessoa_fisica.nome"
					  name="person_nome"
					  size="big"
					  form="form"
					  invalid-message="language.instance.phrases['por-favor-verifique-campo']"
					  required="true">
	</form-field-input>
	<form-field-input label="sobrenome"
					  placeholder="sobrenome"
					  model="ngModel.pessoa_fisica.sobrenome"
					  name="person_sobrenome"
					  form="form"
					  invalid-message="language.instance.phrases['por-favor-verifique-campo']"
					  required="true">
	</form-field-input>
	<form-field-input label="cpf"
					  placeholder="cpf"
					  model="ngModel.pessoa_fisica.cpf"
					  name="person_cpf"
					  type="cpf"
					  disabled="ngModel.pessoa_fisica.id_pessoa && ngModel.pessoa_fisica.cpf"
					  size="small"
					  form="form"
					  invalid-message="language.instance.phrases['por-favor-verifique-campo']"
					  required="true">
	</form-field-input>
	<div class="cols with-padding">
		<div class="cols-size-5">
			<form-input type="date" required="true" label="{{'labels[\'data-nascimento\']'|translate}}" ng-model="ngModel.pessoa_fisica.data_nascimento_object"></form-input>
		</div>
		<div class="cols-size-5">
			<form-field-select label="genero"
							   placeholder="genero"
							   options-label="['value']"
							   ng-model="ngModel.pessoa_fisica.sexo"
							   name="person_sexo"
							   id-property="id"
							   options="genderOptions"
							   type="single-select"
							   form="form"
							   invalid-message="language.instance.phrases['por-favor-verifique-campo']"
							   required="true">
			</form-field-select>
		</div>
	</div>
	<form-field-input label="login"
					  placeholder="login"
					  model="ngModel.pessoa_perfil.login"
					  disabled="ngModel.pessoa_perfil.id"
					  name="person_login"
					  form="form"
					  invalid-message="language.instance.phrases['por-favor-verifique-campo']"
					  required="true">
	</form-field-input>
</div>
