<div class="form">
	<div class="form-header">
		<div class="title">{{'login.formHeaderTitle'|translate}}</div>
		<div class="subtitle">{{'login.formHeaderSubtitle'|translate}} <a class="highlight" href="" ng-click="userRegister()">{{'login.formHeaderSubtitleHighlight'|translate}}</a></div>
	</div>
	<div class="social-buttons">
		<div class="title">{{'login.socialButtonsTitle'|translate}}</div>
		<oauth-facebook ng-model="loginForm"></oauth-facebook>
		<oauth-google ng-model="loginForm"></oauth-google>
	</div>
	<form ng-submit="loginFormSubmit()">
		<div class="title">{{'login.formTitle'|translate}}</div>
		<div class="field">
			<!-- <label for="loginFormEmail">email</label> -->
			<input id="loginFormEmail" type="email" ng-model="loginForm.email" value="{{loginForm.email}}" placeholder="{{'login.loginFormEmailFieldPlaceholder'|translate}}" required />
		</div>
		<div class="field">
			<!-- <label for="loginFormPassword">password</label> -->
			<input id="loginFormPassword" type="password" ng-model="loginForm.password" placeholder="{{'login.loginFormPasswordFieldPlaceholder'|translate}}" required />
		</div>
		<div class="actions">
			<div class="nex-checkbox">
				<input id="idLoginFormRememberMe" type="checkbox" ng-model="loginForm.rememberMe">
				<label for="idLoginFormRememberMe"></label>
				<span>{{'login.rememberMeLabel'|translate}}</span>
			</div>
			<div class="lost-password-action">
				<a href="" ng-click="userLostPassword()">{{'login.lostPasswordLink'|translate}}</a>
			</div>
		</div>
		<div class="submit-button">
			<input type="submit" value="{{'login.submitLoginForm'|translate}}" />
		</div>
	</form>
</div>
