<div class="lost-password">
	<div class="bg-img">
		<na-svg name="backgrounds/grafismo_rota-01" />
	</div>
	<div class="header">
		<div class="logo">
			<na-svg name="icons/logotipo_simbolo_horizontal_cor-01" />
		</div>
		<div class="right-cta">
			<span>{{'labels.headerButtonTextLogin'|translate}}</span>
			<a href="{{router.register}}">{{'labels.headerButtonLogin'|translate}}</a>
		</div>
	</div>
	<user-lost-password-form ng-model="user"></user-lost-password-form>
</div>
