﻿<div class="profile">
	<div class="bg-img">
		<na-svg name="backgrounds/grafismo_rota-01"></na-svg>
	</div>
	<div class="header">
		<div class="logo">
			<na-svg name="icons/logotipo_simbolo_horizontal_cor-01"></na-svg>
		</div>
	</div>
	<register-form ng-model="user"></register-form>
</div>
