<div class="register">
	<div class="bg-img">
		<na-svg name="backgrounds/grafismo_rota-01" />
	</div>
	<div class="header">
		<div class="logo">
			<na-svg name="icons/logotipo_simbolo_horizontal_cor-01"/>
		</div>
	</div>
	<user-register-form ng-model="user"></user-register-form>
</div>
