<div class="nex-select" ng-class="{show: showOptions}">
  <input class="readonly-input" type="text" ng-blur="hide($event)" ng-model="ngModel" ng-value="ngModel" ng-required="ngRequired" placeholder="{{placeholder}}"/>
  <i class="icon"><na-svg name="icons/caret-down"/></i>
  <ul ng-show="showOptions" ng-class="{openUp: openUp}">
    <li ng-repeat="option in options" ng-class="{category: option.category}" ng-disabled="option.category" ng-click="onSelectItem(option.id, $event)">{{option.text}}</li>
  </ul>
</div>
