<div ng-class="{show: show}" class="{{typeClass}}">
	<div class="modal">
		<div class="modal-header">
			<div class="modal-title" ng-transclude="title">
				No title!
			</div>
		</div>
		<div class="modal-body">
			<div ng-transclude="content" class="modal-content">No Content!</div>
		</div>
		<div class="modal-footer" ng-transclude="actions"></div>
	</div>
	<div ng-show="termsCloseButton" class="close-button">
		<a href="" ng-click="toggleModal()">x</a>
	</div>
</div>
