<div class="na-contact-form">
	<div>
		<h1 class="na-bigtitle">{{'contact.mainTitle'|translate}}</h1>
	</div>
	<div>
		<form class="na-form" ng-disabled="sendingForm" id="na-contact-form-id" ng-submit="sendContactMessage()">
			<div class="na-formMsg" ng-show="sendFormResult && !sendingForm">
				<div class="na-subtitle">{{sendFormResult}}</div>
				<hr/>
			</div>

			<div class="na-formMsg" ng-show="sendFormResultOK && !sendingForm">
				<h2 class="na-title is-warn">{{'contact.form.thanks'|translate}}</h2>
				<div class="na-subtitle">{{'contact.form.successfulSend'|translate}}</div>
			</div>
			<div ng-hide="sendFormResultOK">
				<div class="na-title">{{'contact.form.title'|translate}}</div><br>
				<label class="na-label" for="">{{'contact.form.nameLabel'|translate}}</label>
				<input class="na-input" type="text" name="nome" ng-model="contactForm.name" required><br />
				<label class="na-label" for="">{{'contact.form.emailLabel'|translate}}</label>
				<input class="na-input" type="email" name="email" ng-model="contactForm.email" required><br />
				<label class="na-label" for="">{{'contact.form.phoneLabel'|translate}} ({{'contact.form.notRequired'|translate}})</label>
				<input class="na-input" type="tel" placeholder="(99) 99999-9999" name="tel" ng-model="contactForm.phone" ui-br-phone-number><br />
				<label class="na-label">{{'contact.form.motiveLabel'|translate}}
			<na-select options-object="contactMotiveOptions" options-key="value" options-text="label" ng-model="contactForm.motive" ng-required="true" placeholder="Selecione" />
		</label><br />
				<label class="na-label" for="">{{'contact.form.messageLabel'|translate}}</label>
				<textarea class="na-input" id="msg" required ng-model="contactForm.message" ng-change="sendFormResult=''; sendFormResultOK=false" ng-keypress="sendFormResult=''; sendFormResultOK=false" textarea-resize></textarea><br>
				<div class="na-buttonGroup is-right" style="padding-bottom: 60px;">
					<button class="na-button" ng-disabled="sendingForm" type="submit" form="na-contact-form-id">
				<div ng-show="!sendingForm">{{'contact.form.sendLabel'|translate}}</div>
				<div ng-show="sendingForm">
					<!-- Enviando -->
					<div class="na-buttonLoading">
						<div class="sk-three-bounce">
							<div class="sk-child sk-bounce1"></div>
							<div class="sk-child sk-bounce2"></div>
							<div class="sk-child sk-bounce3"></div>
						</div>
					</div>
				</div>
			</button>
				</div>
			</div>
		</form>
	</div>
</div>
