﻿<info-panel tabs="tabs">
	<h3 class="ellipsis">{{subsidiary.nome_fantasia}}</h3>
	<div class="row">
		<div class="col">
			<rating-stars rating="{{subsidiary.avaliacao_geral}}"></rating-stars>
			<div class="iconized-info">
				<i class="icon material-icons">access_time</i>
				<span class="info">09:00h - 22:00h</span>
			</div>
			<div class="iconized-info">
				<i class="icon material-icons">location_on</i>
				<span class="info">0.6km</span>
				<span class="info">8min</span>
			</div>
		</div>
		<div class="logo col"></div>
	</div>
	<div class="clear"></div>
</info-panel>
<div data-tab-content-id="services">
	<div ng-repeat="category in serviceCategories">
		<h5 class="list-title">{{category.name}}</h5>
		<simple-list>
			<simple-list-item ng-repeat="service in category.services"
							  type="full-description"
							  click="selectService(service)"
							  title="{{service.nome}}"
							  subtitle="{{service.valor | currency}}"
							  description="{{service.descricao}}"
							  icon-right="arrow_forward"
							  a-icon-action="selectService(service)">
				<div class="rating">
					<i class="icon material-icons">star_border</i>
					<span class="value">4.6</span>
				</div>
			</simple-list-item>
		</simple-list>
	</div>
</div>
<div data-tab-content-id="ratings">
	<h5 class="list-title">{{commentRatings.length}} {{'labels.ratings'|translate}}</h5>
	<simple-list>
		<simple-list-item ng-repeat="comment in commentRatings"
						  type="full-description"
						  avatar="{{comment.pessoaperfil.foto_perfil}}"
						  title="{{comment.pessoafisica.nome}} {{comment.pessoafisica.sobrenome.split(' ').slice(-1)[0]}}"
						  subtitle="{{comment.data_avaliacao_time | date}}"
						  description="{{comment.comentario}}">
			<rating-stars rating="{{comment.avaliacao}}"></rating-stars>
		</simple-list-item>
	</simple-list>
</div>
<div data-tab-content-id="information">

</div>
